<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ffxiv.housim.db.mapper.YardObjectMapper">

    <resultMap id="BaseResultMap" type="ffxiv.housim.db.entity.YardObject">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="item_id" jdbcType="INTEGER" property="itemId"/>
        <result column="model" jdbcType="VARCHAR" property="model"/>
        <result column="icon" jdbcType="VARCHAR" property="icon"/>
        <result column="category" jdbcType="INTEGER" property="category"/>
        <result column="catalog" jdbcType="INTEGER" property="catalog"/>
        <result column="is_dyeable" jdbcType="INTEGER" property="isDyeable"/>
    </resultMap>

    <insert id="saveAll">
        INSERT OR REPLACE INTO yard_object(`id`, `name`, `item_id`, `model`, `icon`, `category`, `catalog`, `is_dyeable`)
        VALUES
        <foreach collection="list" item="it" separator=",">
            (#{it.id},#{it.name},#{it.itemId},#{it.model},#{it.icon},#{it.category},#{it.catalog},#{it.isDyeable})
        </foreach>
    </insert>
</mapper>
